*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body > div:nth-child(1){
    width:70vw;
    height: 70vh;
    box-shadow: 0px 0px 1px 1px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
body > div:nth-child(1) > div{
    width:fit-content;  
   
    box-shadow: 0px 0px 1px 1px grey;
    display: grid;
    grid-template-columns: repeat(11,1fr);
}

.box{
   width:30px;
   height: 30px;
    box-shadow: 0px 0px 0.3px 0.3px grey;
 
}
.box.player1{
    background-color: rgb(151, 253, 151);
    box-shadow: 0px 0px 1px 1px grey;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000a6;
    font-size: 1.2rem;
    font-weight: 600;
}
.box.player2 {
    background-color: rgb(194, 135, 99);
    box-shadow: 0px 0px 1px 1px grey;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000a6;
    font-size: 1.2rem;
    font-weight: 600;
}

.box.player1 .lifeBar1{
    width:50px;
    height: 5px;
    box-shadow: 0px 0px 1px 1px grey;
    position: absolute;
    top:-18px;
    left:-10px;
}
.box.player2 .lifeBar2{
    width: 50px;
        height: 5px;
        box-shadow: 0px 0px 1px 1px grey;
        position: absolute;
        top: -18px;
        left: -10px;
}

.box.player1 .lifeBar1 div{
    height: 100%;
    background-color: red;
}
.box.player2 .lifeBar2 div{
    height: 100%;
        background-color: rgb(53, 173, 55);
}

.box.player1 .arrow{
    width: 0;
    height: 0;
    border: solid 8px;
    border-color: transparent transparent black transparent;
    position: absolute;
    top:-18px;
    left:7px;
}
.box.player2 .arrow2 {
    width: 0;
    height: 0;
    border: solid 8px;
    border-color: transparent transparent black transparent;
    position: absolute;
    top: -18px;
    left: 7px;
}
.box.bullet{
    background-color: rgb(255, 245, 52);
    width:40%;
    height:40%;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px grey;
    justify-self: center;
    align-self: center;
}
.box.box.bullet2{
    background-color: rgb(97, 253, 253);
    width: 40%;
    height: 40%;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px grey;
    justify-self: center;
    align-self: center;
}
.box.mituor{
    background-color: rgb(255, 164, 164);
}
@media screen and (max-width:500px){
    .box{
        width:22px;
        height: 22px;
    }
    body > div:nth-child(1){
        width:96vw;
        height: 42vh;
    }
    body > div.player1Controll,
    body>div.player2Controll
    {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    body>div.player1Controll p,
    body>div.player2Controll p{
        grid-row: 1/2;
        grid-column: 1/4;
        text-align: center;
    }
    body>div.player1Controll .controll,
    body>div.player2Controll .controll {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    body>div.player1Controll > button,
    body>div.player2Controll > button {
        height: min-content;
        grid-row: 2/3;
        grid-column: 3/4;
       

    }
    body > div.player2Controll {
        top : 10px;
    }
    body > div.player1Controll{
        bottom: 10px;
    }
   .controll{
      display: grid;
      grid-template-columns: repeat(3, 1fr);  
    }
    .controll button[data-id = "up"]{
        grid-row: 1/2;
        grid-column:2/3;
    }
    .controll button[data-id="left"] {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .controll button[data-id="right"] {
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .controll button[data-id="down"] {
        grid-row: 3/4;
        grid-column: 2/3;   
    }
}
